<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tareas Completadas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="(_tareasService.listas | completas: true).length==0">
    <ion-row>
      <ion-col class="text-center caja-vacia">
        <ion-icon class="icono-grande" ios="ios-sunny" md="md-sunny"></ion-icon>
        <p>¡Ninguna lista completada!</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let lista of _tareasService.listas | completas: true; let i=index;">
    <ion-item color="dark" (click)="verDetalle(lista, i)">
      <h2 ion-text color="light">{{lista.nombre}}</h2>
      <ion-note item-right>
        {{lista.items.length}} elementos
      </ion-note>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let item of lista.items | slice:0:2">
        <ion-label [class.tachado]="item.esListaItemCompletado" color="dark">{{item.nombre}}</ion-label>
        <ion-checkbox color="dark" (click)="actualizar(lista, item)" [checked]="item.esListaItemCompletado">{{item.nombre}}</ion-checkbox>
      </ion-item>
      <ion-item class="text-center" *ngIf="lista.items.length>2">
        <ion-icon color="dark" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
