<div class="container main-container">
  <div class="canal" *ngFor="let playlist of playlists"
    style="border: 1px solid #d9534f; margin-bottom: 30px; padding: 15px; border-radius: 5px;">

    <div class="jumbotron text-center" style="margin-bottom: 5px;">
      <h1>{{playlist.nombre}}</h1>
    </div>

    <div class="list-group" *ngIf="playlist.uploads.videos.length>0">
      <a href="#" id="{{video.id}}" *ngFor="let video of playlist.uploads.videos" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
          <div class="col-md-6">
            <img class="img img-thumbnail" (click)="verVideo(video)" [src]="video.thumbnail" [alt]="video.titulo">
          </div>
          <div class="col-md-6">
            <br>
            <div class="row">
              <div class="col-md-12">
                <h5>{{video.titulo}}</h5>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <p>{{video.descripcion | slice:0:450}}</p>
              </div>
            </div> -->
            <div class="row">
              <div class="col-md-12">
                <label>Marcar como visto:</label>
                <input class="checkbox-inline" type="checkbox" checked>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div *ngIf="playlist.videos && playlist.videos.length==0">
      <div class="alert alert-info" role="alert">
        ¡Has visto todos los vídeos de este canal!
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-outline-danger btn-block" *ngIf="playlist.uploads.videos.length>0" (click)="getVideos(playlist.uploads.nextPageToken)">Cargar más...</button>
  </div>
  <hr>

</div>

<!-- Modal -->
<div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="videoSel">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{videoSel.titulo}}</h5>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="500" [src]="videoSel.id | dominioSeguro" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarVideo()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
