<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Peliculas App</h1>
    <p class="lead">Bienvenido a un mundo de película al alcance de tu mano.</p>
  </div>
</div>

<div class="container">
  <div class="">
    <h3>Películas en Cartelera</h3>
    <hr>
  </div>

  <div *ngIf="!loading">
    <app-galeria [peliculas]="populares"
                  seccion="Películas Populares"></app-galeria>
  </div>


  <div class="">
    <h3>Películas Populares entre los más Pequeños</h3>
    <hr>
  </div>
</div>
