<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tareas Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Tareas Pendientes!!</h1>

  <ion-card *ngFor="let lista of _tareasService.listas">
    <ion-card-header>
      {{lista.nombre}}
    </ion-card-header>
    <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    </ion-card-content>
  </ion-card>
  <!-- <li *ngFor="let lista of _tareasService.listas"> -->

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="irAgregar()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
