<app-navbar></app-navbar>

<div class="container main-container">
  <div class="row">
    <div class="col-md-4">
      <h5>Marcador</h5>
    </div>
    <div class="col-md-8">
      <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng">
          <sebm-google-map-info-window>
            <strong>Casa</strong>
            <p>Esta es la dirección de mi casa.</p>
          </sebm-google-map-info-window>
        </sebm-google-map-marker>
      </sebm-google-map>
    </div>
  </div>
</div>
